<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 这里配置mybatis-->
    <settings>
        <!-- 开打mybatis二级缓存配置 默认打开-->
        <setting name="cacheEnabled" value="true"/>
    </settings>


</configuration>