<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--SqlSessionFactory(mybatis整合到spring的核心配置)-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        配置数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--        mybatis的映射文件所在位置-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--        配置的是mybatis的配置文件所在位置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--        配置mybatis的分页插件-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor"></bean>
            </array>
        </property>
    </bean>

    <!--    配置所有mybatis生成的代理Dao对象的类型所在包
            以便spring的ioc创建代理Dao对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hqyj.twelve.dao"/>
        <!--        配置上面的sqlSessionFactoryBean的名字，即bean的id-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>


</beans>