<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.twelve.dao.AdminDao">

    <insert id="insertAdmin" parameterType="com.hqyj.twelve.pojo.Administrator">
        insert into administrator
        (ad_username,ad_password,ad_name,ad_sex,ad_age,ad_job,ad_phone,ad_address,role_id,ad_des)
        values(#{adUsername},#{adPassword},#{adName},#{adSex},#{adAge},#{adJob},
        #{adPhone},#{adAddress},#{roleId},#{adDes});
    </insert>
    
    <insert id="insertEmployee" parameterType="com.hqyj.twelve.pojo.Employee">
        insert into employee
        (emp_username,emp_password,emp_name,emp_sex,emp_age,emp_job,emp_phone,emp_address,role_id,build_id,emp_des)
        values(#{empUsername},#{empPassword},#{empName},#{empSex},#{empAge},#{empJob},
        #{empPhone},#{empAddress},#{roleId},#{buildId},#{empDes});
    </insert>

    <sql id="admin">
        select ad_Id adId,ad_username  adUsername,ad_password adPassword,ad_name adName ,ad_sex adSex,
        ad_age adAge,ad_job adJob,ad_phone adPhone,ad_address adAddress,role_id roleId,ad_des adDes from administrator
    </sql>

    <select id="queryAllAdmin" resultType="com.hqyj.twelve.pojo.Administrator">
         <include refid="admin"/>
    </select>

    <select id="queryAdminByUsername" resultType="com.hqyj.twelve.pojo.Administrator">
        <include refid="admin"/> where ad_username=#{adUsername}
    </select>

    <select id="queryAdminByUsernameLike" resultType="com.hqyj.twelve.pojo.Administrator">
        <include refid="admin"/> where ad_username like #{adUsername}
    </select>

    <select id="queryAdminById" resultType="com.hqyj.twelve.pojo.Administrator">
        <include refid="admin"/> where ad_id =#{adId}
    </select>


    <sql id="emp">
        select emp_Id empId,emp_username  empUsername,emp_password empPassword,emp_name empName ,emp_sex empSex,
        emp_age empAge,emp_job empJob,emp_phone empPhone,emp_address empAddress,role_id roleId,build_id buildId,emp_des empDes from employee
    </sql>

    <select id="queryAllEmp" resultType="com.hqyj.twelve.pojo.Employee">
        <include refid="emp"/>
    </select>

    <select id="queryEmpByUsername"  resultType="com.hqyj.twelve.pojo.Employee">
        <include refid="emp"/> where emp_username like #{empUsername}
    </select>

    <select id="queryEmpById"  resultType="com.hqyj.twelve.pojo.Employee">
        <include refid="emp"/> where emp_id = #{empId};
    </select>


    <update id="updateEmpById" parameterType="com.hqyj.twelve.pojo.Employee">
        update employee set emp_username=#{empUsername},emp_password=#{empPassword},
        emp_name=#{empName},emp_sex=#{empSex},emp_age=#{empAge},emp_Job=#{empJob},
        emp_phone=#{empPhone},emp_address=#{empAddress},role_id=#{roleId},build_id=#{buildId},
        emp_des=#{empDes} where emp_id=#{empId}
    </update>


    <update id="updateEmpPasswordById" parameterType="com.hqyj.twelve.pojo.Employee">
        update employee set emp_password=#{empPassword} where emp_id=#{empId}
    </update>


    <update id="updateAdminById" parameterType="com.hqyj.twelve.pojo.Administrator">
                update  administrator set ad_username=#{adUsername},ad_password=#{adPassword},
                ad_name=#{adName},ad_sex=#{adSex},ad_age=#{adAge},ad_job=#{adJob},ad_phone=#{adPhone},
                ad_address=#{adAddress},role_id=#{roleId},ad_des=#{adDes} where ad_id=#{adId}
    </update>

    <update id="updateAdminPasswordById" parameterType="com.hqyj.twelve.pojo.Administrator">
                update  administrator set ad_password=#{adPassword} where ad_id=#{adId}
    </update>


    <delete id="deleteEmpById" parameterType="int">
       delete from employee  where emp_id=#{id};
    </delete>

    <delete id="deleteAdminById" parameterType="int">
       delete from administrator  where ad_id=#{id};
    </delete>


</mapper>