<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.twelve.dao.DormDao">
    <cache/>
    <select id="queryAll" resultType="com.hqyj.twelve.pojo.Dorm" useCache="true">
        <!--写sql语句-->
        select dor_id dorId,dor_sex dorSex,dor_num dorNum,dor_fact dorFact,dor_price dorPrice
        from dorm
    </select>
</mapper>