<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.twelve.dao.DormDao">
    <cache/>
    <resultMap id="dormBaseResultMap" type="com.hqyj.twelve.pojo.Dorm">
        <id column="dor_id" property="dorId"/>
        <result column="dor_sex" property="dorSex"/>
        <result column="dor_num" property="dorNum"/>
        <result column="dor_fact" property="dorFact"/>
        <result column="dor_price" property="dorPrice"/>
        <collection property="students" ofType="com.hqyj.twelve.pojo.Student">
            <id column="stu_name" property="stuName"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="dormBaseResultMap" useCache="true">
        <!--写sql语句-->
        select d.dor_id,d.dor_sex,d.dor_num ,d.dor_fact ,
        d.dor_price ,s.stu_name
        from dorm d
        left join stu_dor sd on sd.dor_id = d.dor_id
        left join student s on s.stu_id = sd.stu_id
    </select>
    <update id="updateOne" parameterType="com.hqyj.twelve.pojo.Dorm">
        update dorm <set>
        dor_id=#{dorId},
        <if test="dorSex != null and dorSex != ''">
            dor_sex = #{dorSex},
        </if>
        <if test="dorNum != null and dorNum != ''">
            dor_num = #{dorNum},
        </if>
        <if test="dorFact != null and dorFact != ''">
            dor_fact = #{dorFact},
        </if>
        <if test="dorPrice != null and dorPrice != ''">
            dor_price = #{dorPrice}
        </if>
    </set>
    where dor_id=#{dorId}
    </update>

    <insert id="insertOne" parameterType="com.hqyj.twelve.pojo.Dorm">
        insert into dorm (dor_sex,dor_num,dor_fact,dor_price) value
        (#{dorSex},#{dorNum},#{dorFact},#{dorPrice});
    </insert>

    <delete id="deleteById">
        delete from dorm where dor_id=#{dorId};
    </delete>
</mapper>