<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- 对某个Java接口文件进行描述，两者之间的关系一一对应 -->
        <!-- namespace属性指明对应的Java接口文件，全类名的写法 -->
<mapper namespace="com.hqyj.twelve.dao.StudentDao">
<!-- 映射语句 一一对应接口文件中的一个接口方法
 id属性指定接口方法的名称
 resultType指定结果集要将封装的Java pojo对象的全类名  -->

    <!-- 查询学生表所有字段的sql片段 -->
    <sql id="studentField">
        select stu_id,stu_key,stu_name,stu_sex,stu_enr,stu_birth,stu_college,stu_major,
        stu_class,stu_address,stu_tel,stu_state,stu_des
    </sql>

    <resultMap id="baseStudentResultMap" type="com.hqyj.twelve.pojo.Student">
        <id column="stu_id" property="stuId"/>
        <result column="stu_key" property="stuKey"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_sex" property="stuSex"/>
        <result column="stu_enr" property="stuEnr"/>
        <result column="stu_birth" property="stuBirth"/>
        <result column="stu_college" property="stuCollege"/>
        <result column="stu_major" property="stuMajor"/>
        <result column="stu_class" property="stuClass"/>
        <result column="stu_address" property="stuAddress"/>
        <result column="stu_tel" property="stuTel"/>
        <result column="stu_state" property="stuState"/>
        <result column="stu_des" property="stuDes"/>
        <result column="dor_id" property="romId"/>
    </resultMap>

    <!-- 查所有学生信息 -->
    <select id="findAll" resultMap="baseStudentResultMap">
        <include refid="studentField"/> from student
    </select>

    <!-- 查所有已入住学生信息 -->
    <select id="" resultMap="baseStudentResultMap">
        select s.stu_key,s.stu_name,s.stu_sex,d.dor_id,s.stu_class,s.stu_state,s.stu_tel
        from student s,stu_dor sd,dorm d
        where s.stu_id=sd.stu_id and d.dor_id=sd.dor_id
    </select>

    <!-- 根据学号和姓名查询学生 -->
    <select id="queryStuByKeyAndName" resultType="com.hqyj.twelve.pojo.Student" parameterType="string" resultMap="baseStudentResultMap">
        <include refid="studentField"/>
        from student where stu_key=#{stuKey} and stu_name=#{stuName}
    </select>

    <!-- 添加学生信息 + 添加学生寝室信息（未入住） -->
    <insert id="addStu" parameterType="map">
        <selectKey resultType="int" order="AFTER" keyProperty="stuId" keyColumn="stu_id">
        select last_insert_id()
        </selectKey>
        insert into student (stu_key,stu_name,stu_sex,stu_enr,stu_birth,stu_college,stu_major,stu_class,stu_address,stu_tel,stu_state) values (#{stuKey},#{stuName},#{stuSex},#{stuEnr},#{stuBirth},#{stuCollege},#{stuMajor},#{stuClass},#{stuAddress},#{stuTel},'未入住')
    </insert>
    
    <!-- 更新学生信息 -->
    <update id="UpdateStuMassage" parameterType="map">
        update student set stu_sex=#{stuSex},stu_enr=#{stuEnr},stu_birth=#{stuBirth},
        stu_college=#{stuCollege},stu_major=#{stuMajor},stu_class=#{stuClass},stu_address=#{stuAddress},stu_tel=#{stuTel}
        where stu_key=#{stuKey} and stu_name=#{stuName}
    </update>


    <!-- 通过学生id查询学生寝室表 -->
    <select id="queryStuDorByStuId" resultType="int" parameterType="int">
        select count(1) from stu_dor where stu_id=#{stuId}
    </select>

    <!-- 通学生寝室表通过id删除记录 -->
    <delete id="deleteStuDorById" parameterType="int">
        delete from stu_dor where id=#{id}
    </delete>

    <!-- 通过寝室id查询寝室信息 -->
    <select id="queryDormById" parameterType="int">
        select dor_id,dor_sex,dor_num,dor_fact,dor_price from dorm where dor_id=#{dorId}
    </select>

    <!-- 通过学生学号和姓名删除学生信息 -->
    <delete id="deleteOneByKeyAndName" parameterType="string">
        delete from student where stu_key=#{stuKey} and stu_name=#{stuName}
    </delete>

    <insert id="addStuforStudent"  parameterType="com.hqyj.twelve.pojo.Student">
        <selectKey resultType="int" order="AFTER" keyProperty="stuId" keyColumn="stu_id">
            select last_insert_id()
        </selectKey>
        insert into student (stu_key,stu_name,stu_sex,stu_enr,stu_birth,stu_college,stu_major,stu_class,stu_address,stu_tel,stu_state) values (#{stuKey},#{stuName},#{stuSex},#{stuEnr},#{stuBirth},#{stuCollege},#{stuMajor},#{stuClass},#{stuAddress},#{stuTel},'未入住')
    </insert>


</mapper>